apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: pyroscope

helmCharts:
  - name: pyroscope
    repo: https://grafana.github.io/helm-charts
    version: 1.18.0
    releaseName: pyroscope
    namespace: pyroscope
    valuesFile: values.yaml

resources:
  - namespace.yaml
