apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: tempo

helmCharts:
  - name: tempo-distributed
    repo: https://grafana.github.io/helm-charts
    version: 1.60.0
    releaseName: tempo
    namespace: tempo
    valuesFile: values.yaml

resources:
  - namespace.yaml
