minio:
  enabled: false
storage:
  trace:
    backend: s3
    s3:
      bucket: tempo-bucket
      endpoint: kalypso-minio.minio.svc.cluster.local:9000
      access_key: rootuser
      secret_key: rootpass123
      insecure: true
gateway:
  enabled: true
  replicas: 1
distributor:
  replicas: 1
ingester:
  replicas: 1
  persistence:
    enabled: false
tempo:
  structuredConfig:
    ingester:
      lifecycler:
        ring:
          replication_factor: 1
compactor:
  replicas: 1
querier:
  replicas: 1
queryFrontend:
  replicas: 1
metricsGenerator:
  enabled: true
  replicas: 1
  config:
    registry:
      external_labels:
        source: tempo
    storage:
      path: /var/tempo/wal
      remote_write:
        - url: http://mimir-gateway.mimir.svc.cluster.local:80/api/v1/push
          send_exemplars: true
    processor:
      service_graphs:
        dimensions:
          - service.name
          - http.method
          - http.route
      span_metrics:
        dimensions:
          - service.name
          - http.method
          - http.route
          - http.status_code
traces:
  otlp:
    http:
      enabled: true
    grpc:
      enabled: true
  zipkin:
    enabled: false
  jaeger:
    thriftHttp:
      enabled: true
  opencensus:
    enabled: false
