apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kalypso-pyroscope.fullname" . }}-otel-collector
  labels:
    {{- include "kalypso-pyroscope.labels" . | nindent 4 }}
data:
  config.yaml: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318
    
    exporters:
      otlp:
        endpoint: pyroscope:4040
        tls:
          insecure: true
    
    service:
      pipelines:
        profiles:
          receivers: [otlp]
          exporters: [otlp]
      telemetry:
        logs:
          level: info
