apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: istio-system

helmCharts:
  - name: base
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.3
    releaseName: istio-base
    namespace: istio-system
    valuesInline:
      experimental:
        stableValidationPolicy: true

  - name: istiod
    repo: https://istio-release.storage.googleapis.com/charts
    version: 1.28.3
    releaseName: istiod
    namespace: istio-system
    valuesInline:
      experimental:
        stableValidationPolicy: true
      pilot:
        replicaCount: 1
        resources:
          requests:
            cpu: 100m
            memory: 128Mi

resources:
  - namespace.yaml
