apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mimir

helmCharts:
  - name: mimir-distributed
    repo: https://grafana.github.io/helm-charts
    version: 6.1.0-weekly.373
    releaseName: mimir
    namespace: mimir
    valuesFile: values.yaml

resources:
  - namespace.yaml
