apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mimir

helmCharts:
  - name: mimir-distributed
    repo: https://grafana.github.io/helm-charts
    version: 6.1.0-weekly.373
    releaseName: mimir
    namespace: mimir
    valuesInline:
      minio:
        enabled: false
      kafka:
        enabled: false
      mimir:
        structuredConfig:
          ingest_storage:
            enabled: false
          common:
            storage:
              backend: s3
              s3:
                endpoint: kalypso-minio.minio.svc.cluster.local:9000
                access_key_id: "rootuser"
                secret_access_key: "rootpass123"
                insecure: true
          blocks_storage:
            backend: s3
            s3:
              endpoint: kalypso-minio.minio.svc.cluster.local:9000
              bucket_name: mimir-blocks
              access_key_id: "rootuser"
              secret_access_key: "rootpass123"
              insecure: true
          alertmanager_storage:
            backend: s3
            s3:
              endpoint: kalypso-minio.minio.svc.cluster.local:9000
              bucket_name: mimir-alertmanager
              insecure: true
              access_key_id: "rootuser"
              secret_access_key: "rootpass123"
          ruler_storage:
            backend: s3
            s3:
              endpoint: kalypso-minio.minio.svc.cluster.local:9000
              bucket_name: mimir-ruler
              insecure: true
              access_key_id: "rootuser"
              secret_access_key: "rootpass123"
          distributor:
            ring:
              kvstore:
                store: memberlist
          ingester:
            push_grpc_method_enabled: true
            ring:
              kvstore:
                store: memberlist
              replication_factor: 1
          alertmanager:
            sharding_ring:
              kvstore:
                store: memberlist
          compactor:
            sharding_ring:
              kvstore:
                store: memberlist
          store_gateway:
            sharding_ring:
              kvstore:
                store: memberlist
      ingester:
        replicas: 1
        zoneAwareReplication:
          enabled: false
        persistence:
          enabled: false
        resources:
          requests:
            cpu: 50m
            memory: 256Mi
      distributor:
        replicas: 1
        resources:
          requests:
            cpu: 20m
            memory: 64Mi
      querier:
        replicas: 1
        resources:
          requests:
            cpu: 20m
            memory: 64Mi
      query_frontend:
        replicas: 1
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
      store_gateway:
        statefulSet:
          enabled: false
        replicas: 1
        zoneAwareReplication:
          enabled: false
        persistence:
          enabled: false
        resources:
          requests:
            cpu: 10m
            memory: 64Mi
      alertmanager:
        statefulSet:
          enabled: false
        replicas: 1
        zoneAwareReplication:
          enabled: false
        persistence:
          enabled: false
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
      compactor:
        enabled: true
        statefulSet:
          enabled: false
        replicas: 1
        persistence:
          enabled: false
      smoke_test:
        enabled: false
      continuous_test:
        enabled: false
      rollout_operator:
        enabled: false

resources:
  - namespace.yaml
