deploymentMode: SimpleScalable
loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: s3
    s3:
      endpoint: kalypso-minio.minio.svc.cluster.local:9000
      accessKeyId: rootuser
      secretAccessKey: rootpass123
      s3ForcePathStyle: true
      insecure: true
    bucketNames:
      chunks: loki-bucket
      ruler: loki-bucket
  schemaConfig:
    configs:
      - from: 2024-01-01
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
read:
  replicas: 1
write:
  replicas: 1
backend:
  replicas: 1
gateway:
  enabled: true
  replicas: 1
