apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: grafana

helmCharts:
  - name: grafana
    repo: https://grafana.github.io/helm-charts
    version: 10.5.12
    releaseName: grafana
    namespace: grafana
    valuesFile: values.yaml

resources:
  - namespace.yaml
