service:
  type: LoadBalancer
  port: 80
readinessProbe:
  httpGet:
    path: /api/health
    port: grafana
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1
livenessProbe:
  httpGet:
    path: /api/health
    port: grafana
  initialDelaySeconds: 60
  periodSeconds: 10
  timeoutSeconds: 30
  failureThreshold: 10
  successThreshold: 1
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Mimir
        type: prometheus
        uid: mimir
        url: http://mimir-gateway.mimir.svc.cluster.local:80/prometheus
        access: proxy
        isDefault: true
        editable: true
        jsonData:
          httpMethod: POST
          prometheusType: Mimir
      - name: Tempo
        type: tempo
        uid: tempo
        url: http://tempo-gateway.tempo.svc.cluster.local:80
        access: proxy
        editable: true
        jsonData:
          httpMethod: GET
          tracesToLogsV2:
            datasourceUid: loki
            tags:
              - key: job
                value: job
              - key: instance
                value: instance
              - key: pod
                value: pod
              - key: namespace
                value: namespace
            mappedTags: [{ key: 'service.name', value: 'service' }]
            mapTagNamesEnabled: true
            filterByTraceID: true
          tracesToMetrics:
            datasourceUid: mimir
            tags: [{ key: 'service.name', value: 'service' }]
          tracesToProfiles:
            datasourceUid: pyroscope
            tags:
              - key: service.name
                value: service_name
              - key: http.route
                value: http_route
            profileTypeId: 'process_cpu:cpu:nanoseconds:cpu:nanoseconds'
            customQuery: true
            query: '{service_name="$${__span.tags["service.name"]}", http_route="$${__span.tags["http.route"]}"}'
          nodeGraph:
            enabled: true
          serviceMap:
            datasourceUid: mimir
      - name: Loki
        type: loki
        uid: loki
        url: http://loki-gateway.loki.svc.cluster.local:80
        access: proxy
        editable: true
        jsonData:
          derivedFields:
            - datasourceUid: tempo
              matcherRegex: "(?:traceID|trace_id|traceId)=?(\\w+)"
              name: TraceID
              url: "$${__value.raw}"
      - name: Pyroscope
        type: grafana-pyroscope-datasource
        uid: pyroscope
        url: http://pyroscope-query-frontend.pyroscope.svc.cluster.local:4040
        access: proxy
        editable: true
