apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: otel-system

helmCharts:
  # OpenTelemetry Operator
  - name: opentelemetry-operator
    repo: https://open-telemetry.github.io/opentelemetry-helm-charts
    version: 0.102.0
    releaseName: opentelemetry-operator
    namespace: otel-system
    valuesInline:
      manager:
        collectorImage:
          repository: otel/opentelemetry-collector-contrib
      admissionWebhooks:
        certManager:
          enabled: true

  # OpenTelemetry eBPF Instrumentation
  - name: opentelemetry-ebpf-instrumentation
    repo: https://open-telemetry.github.io/opentelemetry-helm-charts
    version: 0.4.3
    releaseName: opentelemetry-ebpf
    namespace: otel-system
    valuesInline:
      enabled: true
      privileged: false
      extraCapabilities:
        - BPF
        - PERFMON
        - SYS_PTRACE
        - DAC_READ_SEARCH
        - CHECKPOINT_RESTORE
      preset: application
      rbac:
        create: true
      config:
        create: true
        data:
          otel_traces_export:
            endpoint: "http://kalypso-otel-collector.otel-system.svc.cluster.local:4317"
          otel_metrics_export:
            endpoint: "http://kalypso-otel-collector.otel-system.svc.cluster.local:4318/v1/metrics"
          attributes:
            kubernetes:
              enable: true
          prometheus_export:
            port: 9090
            path: /metrics

resources:
  - namespace.yaml
