apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: otel-system

helmCharts:
  # OpenTelemetry Operator
  - name: opentelemetry-operator
    repo: https://open-telemetry.github.io/opentelemetry-helm-charts
    version: 0.102.0
    releaseName: opentelemetry-operator
    namespace: otel-system
    valuesFile: values-operator.yaml

  # OpenTelemetry eBPF Instrumentation
  - name: opentelemetry-ebpf-instrumentation
    repo: https://open-telemetry.github.io/opentelemetry-helm-charts
    version: 0.4.3
    releaseName: opentelemetry-ebpf
    namespace: otel-system
    valuesFile: values-ebpf.yaml

resources:
  - namespace.yaml
  - otel-collector-rbac.yaml
  - otel-collector.yaml
  - otel-ebpf-profiler.yaml
