enabled: true
privileged: false
extraCapabilities:
  - BPF
  - PERFMON
  - SYS_PTRACE
  - DAC_READ_SEARCH
  - CHECKPOINT_RESTORE
preset: application
rbac:
  create: true
config:
  create: true
  data:
    otel_traces_export:
      endpoint: "http://kalypso-otel-collector.otel-system.svc.cluster.local:4317"
    otel_metrics_export:
      endpoint: "http://kalypso-otel-collector.otel-system.svc.cluster.local:4318/v1/metrics"
    attributes:
      kubernetes:
        enable: true
    prometheus_export:
      port: 9090
      path: /metrics
