grafana:
  enabled: true
  
  service:
    type: LoadBalancer
    port: 80
  
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Mimir
          type: prometheus
          url: http://mimir-distributed-gateway.mimir.svc.cluster.local:80/prometheus
          access: proxy
          isDefault: true
          editable: true
          jsonData:
            httpMethod: POST
            prometheusType: Mimir
        
        - name: Tempo
          type: tempo
          url: http://tempo-distributed-query-frontend.tempo.svc.cluster.local:3100
          access: proxy
          editable: true
          jsonData:
            httpMethod: GET
            tracesToLogs:
              datasourceUid: Loki
        
        - name: Loki
          type: loki
          url: http://loki-gateway.loki.svc.cluster.local:80
          access: proxy
          editable: true
          jsonData:
            derivedFields:
              - datasourceUid: Tempo
                matcherRegex: "traceID=(\\w+)"
                name: TraceID
                url: "$${__value.raw}"
        
        - name: Pyroscope
          type: grafana-pyroscope-datasource
          url: http://pyroscope.pyroscope.svc.cluster.local:4040
          access: proxy
          editable: true
