grafana:
  enabled: true
  
  service:
    type: LoadBalancer
    port: 80
  
  # Health check configuration
  readinessProbe:
    httpGet:
      path: /api/health
      port: grafana
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 3
    successThreshold: 1
  
  livenessProbe:
    httpGet:
      path: /api/health
      port: grafana
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 30
    failureThreshold: 10
    successThreshold: 1
  
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Mimir
          type: prometheus
          uid: mimir
          url: http://kalypso-mimir-nginx.mimir.svc.cluster.local:80/prometheus
          access: proxy
          isDefault: true
          editable: true
          jsonData:
            httpMethod: POST
            prometheusType: Mimir
        
        - name: Tempo
          type: tempo
          uid: tempo
          url: http://kalypso-tempo-query-frontend.tempo.svc.cluster.local:3100
          access: proxy
          editable: true
          jsonData:
            httpMethod: GET
            tracesToLogsV2:
              datasourceUid: loki
              tags: ['job', 'instance', 'pod', 'namespace']
              mappedTags: [{ key: 'service.name', value: 'service' }]
              mapTagNamesEnabled: true
              filterByTraceID: true
            tracesToMetrics:
              datasourceUid: mimir
              tags: [{ key: 'service.name', value: 'service' }]
            tracesToProfiles:
              datasourceUid: pyroscope
              tags: ['job', 'instance', 'pod', 'namespace']
              profileTypeId: 'process_cpu:cpu:nanoseconds:cpu:nanoseconds'
            nodeGraph:
              enabled: true
            serviceMap:
              datasourceUid: mimir
        
        - name: Loki
          type: loki
          uid: loki
          url: http://kalypso-loki-gateway.loki.svc.cluster.local:80
          access: proxy
          editable: true
          jsonData:
            derivedFields:
              - datasourceUid: tempo
                matcherRegex: "(?:traceID|trace_id|traceId)=?(\\w+)"
                name: TraceID
                url: "$${__value.raw}"
        
        - name: Pyroscope
          type: grafana-pyroscope-datasource
          uid: pyroscope
          url: http://kalypso-pyroscope.pyroscope.svc.cluster.local:4040
          access: proxy
          editable: true
