apiVersion: v1
kind: Service
metadata:
  name: sample-fastapi
  namespace: applications
  labels:
    app: sample-fastapi
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app: sample-fastapi
